
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* Changes the font and colour of the header styles */
header {
  text-align: center;
  background-color: powderblue;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  display:flex; 
  text-align: center;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid black;
  height: 60px;
  width: 60px;
  padding-top: 20px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white; 
  /* Styles added to ensure the sections are displaying as rows */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
 /*Makes the middle event column wider */
.event-block {
  flex: 9;
  margin: 0 10px;
border: 1px solid black;
}

/* Styles the time and save columns */
.column {
  flex: 1;
  margin: 0 10px;
}
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  height: 60px;
  width: 60px;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  background-color: #10084b;
}

.clearButton {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  
  .custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db; /* Border color */
    color: #3498db; /* Text color */
    border-radius: 5px; /* Border radius for rounded corners */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }

  /* Hover effect */
  .clearBtn:hover {
    background-color: #4d134d; /* Background color on hover */
    color: #fff; /* Text color on hover */
  }


/* Styles the clear button */
.clearBtn {

  background-color: #d9acd7;
  font-family: 'Fira Sans', sans-serif;
  display: inline-block;
  padding: 10px 15px;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #db349e; 
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

